USE [master]
GO
/****** Object:  Database [DB_SagipKabayan]    Script Date: 5/23/2026 11:31:00 PM ******/
CREATE DATABASE [DB_SagipKabayan]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DB_SagipKabayan', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DB_SagipKabayan.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DB_SagipKabayan_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\DB_SagipKabayan_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_SagipKabayan].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_SagipKabayan]
GO
/****** Object:  Table [dbo].[tbl_Employees]    Script Date: 5/23/2026 11:31:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Employees](
	[EmployeeID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [varchar](100) NOT NULL,
	[SectorType] [varchar](30) NOT NULL,
	[VerificationDocNo] [varchar](50) NOT NULL,
	[SkillsSummary] [varchar](100) NOT NULL,
	[ContactNumber] [varchar](20) NULL,
	[DateRegistered] [datetime] NULL,
	[IsActive] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Quests]    Script Date: 5/23/2026 11:31:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Quests](
	[QuestID] [int] IDENTITY(1,1) NOT NULL,
	[QuestTitle] [varchar](100) NOT NULL,
	[JobType] [varchar](20) NOT NULL,
	[JobDescription] [text] NOT NULL,
	[Gantimpala] [decimal](10, 2) NOT NULL,
	[EmployerContact] [varchar](20) NOT NULL,
	[QuestStatus] [varchar](20) NULL,
	[EmployeeID] [int] NULL,
	[SectorClassification] [varchar](100) NULL,
	[VerificationIDNo] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_Users]    Script Date: 5/23/2026 11:31:00 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[UserRole] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[tbl_Employees] ON 

INSERT [dbo].[tbl_Employees] ([EmployeeID], [FullName], [SectorType], [VerificationDocNo], [SkillsSummary], [ContactNumber], [DateRegistered], [IsActive]) VALUES (1, N'df', N'Homeless', N'5', N'dg', N'45', CAST(N'2026-05-23T20:58:15.553' AS DateTime), 0)
INSERT [dbo].[tbl_Employees] ([EmployeeID], [FullName], [SectorType], [VerificationDocNo], [SkillsSummary], [ContactNumber], [DateRegistered], [IsActive]) VALUES (2, N'dfdf', N'Homeless', N'454', N'dfsdf', N'4353', CAST(N'2026-05-23T21:11:18.603' AS DateTime), 0)
INSERT [dbo].[tbl_Employees] ([EmployeeID], [FullName], [SectorType], [VerificationDocNo], [SkillsSummary], [ContactNumber], [DateRegistered], [IsActive]) VALUES (3, N'gfds', N'Homeless', N'323', N'dfsf', N'2323', CAST(N'2026-05-23T21:35:03.937' AS DateTime), 0)
SET IDENTITY_INSERT [dbo].[tbl_Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Quests] ON 

INSERT [dbo].[tbl_Quests] ([QuestID], [QuestTitle], [JobType], [JobDescription], [Gantimpala], [EmployerContact], [QuestStatus], [EmployeeID], [SectorClassification], [VerificationIDNo]) VALUES (1, N'Market Utility Porter', N'Temporary', N'Help transport goods inside the public market area.', CAST(350.00 AS Decimal(10, 2)), N'09171234567', N'Ongoing', 4, NULL, NULL)
INSERT [dbo].[tbl_Quests] ([QuestID], [QuestTitle], [JobType], [JobDescription], [Gantimpala], [EmployerContact], [QuestStatus], [EmployeeID], [SectorClassification], [VerificationIDNo]) VALUES (2, N'Barangay Street Sweeper', N'Temporary', N'Clean residential community pathways and roads.', CAST(450.00 AS Decimal(10, 2)), N'09159876543', N'Ongoing', 1, NULL, NULL)
INSERT [dbo].[tbl_Quests] ([QuestID], [QuestTitle], [JobType], [JobDescription], [Gantimpala], [EmployerContact], [QuestStatus], [EmployeeID], [SectorClassification], [VerificationIDNo]) VALUES (3, N'Daycare Assistant', N'Permanent', N'Help manage kids activities and maintain clean classrooms.', CAST(600.00 AS Decimal(10, 2)), N'09191112233', N'Available', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[tbl_Quests] OFF
GO
SET IDENTITY_INSERT [dbo].[tbl_Users] ON 

INSERT [dbo].[tbl_Users] ([UserID], [Username], [Password], [UserRole]) VALUES (1, N'admin', N'admin123', N'Admin')
INSERT [dbo].[tbl_Users] ([UserID], [Username], [Password], [UserRole]) VALUES (2, N'staff', N'staff123', N'Standard User')
SET IDENTITY_INSERT [dbo].[tbl_Users] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tbl_User__536C85E4E70A63FA]    Script Date: 5/23/2026 11:31:01 PM ******/
ALTER TABLE [dbo].[tbl_Users] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_Employees] ADD  DEFAULT (getdate()) FOR [DateRegistered]
GO
ALTER TABLE [dbo].[tbl_Employees] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[tbl_Quests] ADD  DEFAULT ('Temporary') FOR [JobType]
GO
ALTER TABLE [dbo].[tbl_Quests] ADD  DEFAULT ('Available') FOR [QuestStatus]
GO
ALTER TABLE [dbo].[tbl_Quests]  WITH CHECK ADD FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[tbl_Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[tbl_Users]  WITH CHECK ADD CHECK  (([UserRole]='Standard User' OR [UserRole]='Admin'))
GO
USE [master]
GO
